<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Dashboard/Index/">

        <div class="sidebar-brand-text mx-3">TasteFood Admin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Index/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/About/AboutList/">
            <i class="fas fa-fw fa-info"></i>
            <span>Hakkımızda İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList/">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Kategori İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList/">
            <i class="fas fa-fw fa-cheese"></i>
            <span>Ürün İşlemleri</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="/Chef/ChefList/">
            <i class="fas fa-fw fa-user-friends"></i>
            <span>Şef İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHour/OpenDayHourList/">
            <i class="fas fa-fw fa-hourglass"></i>
            <span>Çalışma Saatleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Reservation/ReservationList/">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Rezervasyon İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Testimonial/TestimonialList/">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Referans İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Notification/NotificationList/">
            <i class="fas fa-fw fa-moon"></i>
            <span>Bildirim İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/ContactInformation/ContactInformationList/">
            <i class="fas fa-fw fa-car-alt"></i>
            <span>Adres Bilgileri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Contact/ContactList/">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>Mesaj İşlemleri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Slider/SliderList/">
            <i class="fas fa-fw fa-list"></i>
            <span>Slider İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/SocialMedia/SocialMediaList/">
            <i class="fas fa-fw fa-hashtag"></i>
            <span>Sosyal Medya İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/About/AboutList/">
            <i class="fas fa-fw fa-user"></i>
            <span>Admin İşlemleri</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Profile/Index/">
            <i class="fas fa-fw fa-info"></i>
            <span>Profilim</span>
        </a>
    </li> 
</ul>
