@model List<TasteFoodIt.Entities.SocialMedia>
<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
    @foreach (var item in Model)
    {
        <li class="ftco-animate"><a href="@item.RedirectUrl"><span class="@item.IcanUrl"></span></a></li>
    }


</ul>
