<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="~/Default/Index">Taste.<span>it</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="~/Default/Index" class="nav-link">ANA SAYFA</a></li>
                <li class="nav-item"><a href="~/Default/NavbarAbout" class="nav-link">HAKKIMIZDA</a></li>
                <li class="nav-item"><a href="~/Default/NavbarChef" class="nav-link">ŞEFLERİMİZ</a></li>
                <li class="nav-item"><a href="~/Default/NavbarMenu" class="nav-link">MENÜ</a></li>
                <li class="nav-item"><a href="~/Default/NavbarReservation" class="nav-link">REZERVASYON</a></li>
                <li class="nav-item"><a href="~/Default/NavbarContact" class="nav-link">İLETİŞİM</a></li>
            </ul>
        </div>
    </div>
</nav>
