
@{
    Layout = null;
}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
    <div class="login-header">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <h3>Username:</h3>
        <input type="text" placeholder="Username" /><br>
        <h3>Password:</h3>
        <input type="password" placeholder="Password" />
        <br>
        <input type="button" value="Login" class="login-button" />
        <br>
        <a class="sign-up">Sign Up!</a>
        <br>
        <h6 class="no-access">Can't access your account?</h6>
    </div>
</div>
<div class="error-page">
    <div class="try-again">Error: Try again?</div>
</div>
























@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <form method="post">

    <div class="container">
        <br /><br />
        <div class="alert alert-danger"><h3>Login Ekranı</h3></div>
        <br />
        <label>Kullanıcı Adınız & Email Adresiniz</label>
        <input type="text" name="Username" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" name="Password" class="form-control" />
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </div>

    </form>*@
